.box {
    text-align: center;
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
    min-width: 10em;
    border-radius: 12px;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    margin-bottom: 0.3em;
    /* 10px 20px */
}

.inputfile:disabled+label {
    cursor: not-allowed;
    background-color: #ccc !important;
}

.no-js .inputfile+label {
    display: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1+label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus+label,
.inputfile-1.has-focus+label,
.inputfile-1+label:hover {
    background-color: #722040;
}


/* Canvas */

#myCanvas,
#copyCanvas {
    visibility: visible;
    border: 2px solid #d3394c;
    border-radius: 12px;
    display: block;
    width: 80%;
    height: 50em;
    max-height: calc(100vh - 12.5em);
    margin: 2.5em auto;
}

#copyCanvas {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#copyCanvas-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dust {
    position: absolute;
    will-change: transform, opacity, filter;
}